In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
message = "Hello, Python"

In [4]:
print(message)

Hello, Python

In [5]:
"Hello World"

'Hello World'

In [6]:
'Hello World'

'Hello World'

In [7]:
"""Hello World"""

'Hello World'

In [8]:
'''Hello World'''

'Hello World'

In [9]:
"Hello, \"Python\", Django"

'Hello, "Python", Django'

In [10]:
'Hello, "Python", Django'

'Hello, "Python", Django'

In [14]:
노래가사 = """비도 오고 그래서
네 생각이 났어
생각이 나서 그래서"""

# 문자열 형식 지정자

In [16]:
'Hello, %s' % ('Python',)

'Hello, Python'

In [17]:
'Hello, {}'.format('Python')

'Hello, Python'

In [18]:
'{}, {}, {}'.format('a', 'b', 'c')

'a, b, c'

In [19]:
'{0}, {1}, {2}'.format('a', 'b', 'c')

'a, b, c'

In [20]:
'{2}, {1}, {0}'.format('a', 'b', 'c')

'c, b, a'

In [21]:
'{0}, {1}, {0}'.format('a', 'b')

'a, b, a'

In [22]:
'Coordinates : {}, {}'.format(35, 127)

'Coordinates : 35, 127'

In [23]:
'Coordinates : {lat}, {lng}'.format(lat=35, lng=127)

'Coordinates : 35, 127'

## 기본 자료구조

In [24]:
names = ["Tom", "Jane", "John"]
# names.contains("Tom") # Java라면?
"Tom" in names

True

In [28]:
# names[len(names)-1]
names[-1]

'John'

### tuple

In [29]:
(1, 2, 3, 4)

(1, 2, 3, 4)

In [33]:
(1,)

(1,)

In [34]:
1,

(1,)

In [35]:
x = 1
y = 2

In [36]:
temp = x
x = y
y = temp

In [37]:
x, y

(2, 1)

In [38]:
x, y = y, x

In [39]:
x, y

(1, 2)

In [42]:
for i in sorted({ 9, 8, 6, 7, 8, 9 }, reverse=True):
    print(i)

9
8
7
6

## 슬라이싱

In [43]:
strings = 'abcdefghijklmnopqrstuvwxyz'

In [44]:
strings[0]

'a'

In [45]:
strings[1]

'b'

In [46]:
strings[1:]

'bcdefghijklmnopqrstuvwxyz'

In [47]:
strings[1:-3]

'bcdefghijklmnopqrstuvw'

In [48]:
strings[1:-3:2]

'bdfhjlnprtv'

In [49]:
strings[::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [50]:
strings[1:-1:-1]

''

In [53]:
strings[-2:0:-1]

'yxwvutsrqponmlkjihgfedcb'

## 주석

In [54]:
def mysum(x, y):
    '인자 2개를 받아서 더한 값을 리턴해줍니다.'
    return x + y

In [55]:
mysum.__doc__

'인자 2개를 받아서 더한 값을 리턴해줍니다.'

In [56]:
mysum?

In [59]:
mydict = {
    'a': 1,
    'b': 2,
#     'c': 3,
#     'd': 4,
}

## 흐름 제어

In [60]:
number = int(input('Enter number : '))

Enter number : 123

In [61]:
# ascii
ord('1'), ord('3')

(49, 51)

In [62]:
# for i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [66]:
# 구구단
for i in range(2, 10):
    print('#### {}단 ####'.format(i))
    for j in range(1, 10):
        print('{} * {} = {}'.format(i, j, i*j))
        # break
    print()

#### 2단 ####
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

#### 3단 ####
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

#### 4단 ####
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

#### 5단 ####
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

#### 6단 ####
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

#### 7단 ####
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

#### 8단 ####
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

#### 9단 ####
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

## 함수

In [67]:
def mymultiply(x):
    if x % 2 == 0:
        return x * 10

In [69]:
print(mymultiply(9))

None

### 인자

In [70]:
def say_hello(name, age):
    return '안녕. 나는 {}야. {}살이지.'.format(name, age)

In [71]:
say_hello('Tom', 10)

'안녕. 나는 Tom야. 10살이지.'

In [72]:
say_hello(age=10, name='Tom')

'안녕. 나는 Tom야. 10살이지.'

In [73]:
say_hello(age=10, 'Tom')

SyntaxError: positional argument follows keyword argument (<ipython-input-73-bea993bc3d42>, line 1)

In [74]:
say_hello('Tom', age=10)

'안녕. 나는 Tom야. 10살이지.'

In [75]:
# 디폴트인자
def say_hello2(name, age=10):
    return '안녕. 나는 {}야. {}살이지.'.format(name, age)

In [76]:
say_hello2('John')

'안녕. 나는 John야. 10살이지.'

In [77]:
def say_hello3(age=10, name):
    return '안녕. 나는 {}야. {}살이지.'.format(name, age)

SyntaxError: non-default argument follows default argument (<ipython-input-77-00c34e1c1e57>, line 1)

### 디폴트인자에서 유의할 사항

In [78]:
def eat(food_list=[]):
    food_list.append('김치')
    return food_list

In [79]:
eat()

['김치']

In [80]:
eat()

['김치', '김치']

In [81]:
def eat2(food_list=None):
    if food_list is None:
        food_list = []
    food_list.append('김치')
    return food_list

In [82]:
eat2()

['김치']

In [83]:
eat2()

['김치']

## 1급 함수/클래스

In [84]:
def mysum(x, y):
    result = x + y
    return result

In [86]:
i,j = 1, 2
mysum(i, j)

3

In [87]:
(lambda x, y: x + y)(1, 2)

3

In [88]:
fn = lambda x, y: x + y
fn(1, 2)

3

In [89]:
def mysum(x, y):
    return x + y

def myfn(fn, x, y):
    return fn(x, y) + 10

myfn(mysum, 1, 2)

13

In [90]:
myfn(lambda x, y: x ** y, 2, 100)

1267650600228229401496703205386

### 고차함수

In [91]:
def base_calculator1(base):
    wrap = lambda x, y: x + y + base
    return wrap

In [92]:
result_fn = base_calculator1(10)
result_fn(1, 2)

13

In [94]:
base_10 = base_calculator1(10)
base_20 = base_calculator1(20)
base_30 = base_calculator1(30)

In [95]:
base_10(1, 2), base_20(1, 2), base_30(1, 2)

(13, 23, 33)

In [96]:
def base_calculator2(base):
    def wrap(x, y):
        return x + y + base
    # wrap = lambda x, y: x + y + base
    return wrap

base_30 = base_calculator2(30)
base_30(1, 2)

33